@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,400;1,8..144,500;1,8..144,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
}
/*-- DESKTOP --*/
header 
{
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 3rem .5rem 2rem;
    height: 10vh;
}

header div
{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
}

h1
{
    font-size: 3vw;
    color: #ffffff;
}

header img
{
    width: 3%;
    height: 5vh;
}

.imagem_de_uma_patinha_com_logo
{
    width: 13%;
    height: 60%;
}





.caixa-principal
{
    position: relative;
    display: flex;
    justify-content: center;
}

.imagem_principal_de_cao_com_cone_de_aniversariante_na_cabeça, .cao_com_fantasia_de_urso, .imagem_caozinho_feinho_coitado  
{
    width: 100%;
}

.caixa-principal div 
{
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 30%;
}

.texto_de_boas_vindas_subtitulo_principal
{
    font-size: 6vw;
    text-align: center;
    color: #ffffff;
    font-weight: 900;
}

.imagem_de_uma_patinha_na_caixa_principal 
{
    margin-top: 1.3em;
    width: 30%;
    height: 60%;
}





.caixa-sobre-banho-e-tosa 
{
    margin-top: 20%;
    margin-right: 5%;
    padding-left: 10%;
}

h5 
{
    font-size: 6vw;
    font-weight: 700;
}

.caixa-sobre-banho-e-tosa p, .caixa-mordomia-saudavel p 
{
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 2.5vw;
    font-weight: lighter;
}

button 
{
    width: 25%;
    height: 6vh;
    border-radius: 78px;
    background-color: #3A342F;
    color: #ffffff;
    font-size: 1.5vw;
    text-align: center;
    border: none;
    box-shadow: 2px 2px 2px grey;
    margin-bottom: .2em;
    cursor: pointer;
}

.imagem_caozinho_feinho_coitado
{
    margin-top: -3%;
}

.caixa-do-topico-mordomia-saudavel
{
    position: relative;
}

.caixa-mordomia-saudavel
{
    position: absolute;
    top: 15%;
    margin-right: 7%;
    padding-left: 10%;
}

.caixa-mordomia-saudavel button
{
    background-color: #ffffff;
    color: #000000;
}



.caixa-com-apoiadores-do-pet{
    padding-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    color:#fd6a9a;
}

.caixa-com-apoiadores-do-pet div
{
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

h3 {
    font-style: italic;
}

.apoiador 
{
    font-size: 6vw;
    margin-bottom: 2em;
}

#Havaianas {
    font-weight: 900;
}







footer
{
    background-color: #eb4a7b;
}

.logo-na-div-do-footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
}

.logo-na-div-do-footer img {
    height: 10vh;
    margin-right: 2em;
    width: 6%;
}

.logo-no-footer 
{
    font-size: 4vw;
    color: #ffffff;
    font-weight: 800;
}


.caixa-com-as-redes-sociais
{
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-icon, .whatsapp-icon 
{
    width: 3vw;
}

.youtube-icon 
{
    margin-left: 2em;
    margin-right: 2em;
    width: 4vw;
}

.informacoes-importantes
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.informacoes-importantes div 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    color: #ffffff;
    margin-bottom: 2em;
}

.titulos-de-informacoes-importantes-contidos-no-footer
{
    font-size: 2vw;
    margin-bottom: .2em;
}

.temas-das-informacoes-importantes-em-si-no-footer
{
    font-size: 1vw;
}













/* --- MOBILE --*/
@media screen and (max-width: 768px) 
{
    h1
    {
        font-size: 3.8vw;
    }

    header img
    {
        width: 5%;
    }

    .imagem_de_uma_patinha_com_logo
    {
        width: 20%;
    }





    .caixa-sobre-banho-e-tosa p, .caixa-mordomia-saudavel p 
    {
        font-size: 3.5vw;
    }

    button 
    {
        width: 38%;
        font-size: 3vw;
        box-shadow: 1px 1px grey;
    }

    .caixa-mordomia-saudavel
    {
        margin-right: 5%;
    }




    
    .logo-na-div-do-footer img {
        height: 8vh;
        width: 7%;
    }

    .logo-no-footer 
    {
        font-size: 6vw;
    }


    .instagram-icon, .whatsapp-icon 
    {
        width: 8vw;
    }

    .youtube-icon 
    {
        width: 11vw;
    }

    .titulos-de-informacoes-importantes-contidos-no-footer
    {
        font-size: 5vw;
    }

    .temas-das-informacoes-importantes-em-si-no-footer
    {
        font-size: 4vw;
    }
}


@media screen and (max-width:600px)
{
    .logo-na-div-do-footer img {
        width: 9%;
    }
}


@media screen and (max-width:500px)
{
    .logo-na-div-do-footer img {
        width: 10%;
    } 
}


@media screen and (max-width:400px)
{
    .logo-na-div-do-footer img {
        width: 12%;
    }

    .instagram-icon, .whatsapp-icon 
    {
        width: 6vw;
    }

    .youtube-icon 
    {
        width: 8vw;
    }
}


@media screen and (max-width:300px)
{
    .logo-na-div-do-footer img {
        width: 20%;
    }
}



@media screen and (max-width: 200px)
{
    .logo-na-div-do-footer img {
        height: 5vh;
        margin-right: 1em;
        width: 17%;
    }

    button 
    {
        height: 3vh;
    }

    .informacoes-importantes {
        height: 60vh;
    }

    .caixa-com-as-redes-sociais {
        margin-top: 2em;
    }
}
